@font-face {
  font-family: "iconfont"; /* Project id 2510256 */
  src: url('iconfont.woff2?t=1631194908638') format('woff2'),
       url('iconfont.woff?t=1631194908638') format('woff'),
       url('iconfont.ttf?t=1631194908638') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconicon-test:before {
  content: "\e652";
}

.iconshibai:before {
  content: "\e64e";
}

.iconchenggong:before {
  content: "\e615";
}

.icontubiaozhizuomobanyihuifu-:before {
  content: "\e6a0";
}

.iconbofang:before {
  content: "\e604";
}

.iconbofangzhong:before {
  content: "\e68f";
}

.iconfenxiang:before {
  content: "\e8b0";
}

.iconshangyishou:before {
  content: "\e603";
}

.iconxiayishou-copy:before {
  content: "\e8e8";
}

.iconaixin:before {
  content: "\e8c3";
}

.iconcuowuguanbiquxiao-yuankuang:before {
  content: "\e8e7";
}

.iconiconzhucetouxiang:before {
  content: "\e62d";
}

.iconyemianhebujuPagesandLayout2:before {
  content: "\e673";
}

.icona-40EventsCalendar:before {
  content: "\e60f";
}

.iconxiayiye:before {
  content: "\e61f";
}

.iconshangyiye1:before {
  content: "\e70a";
}

.iconxiajiantou-copy:before {
  content: "\e7fa";
}

.iconfanhuidingbu:before {
  content: "\e634";
}

.iconxuanxiang:before {
  content: "\e670";
}

.iconshangyiye:before {
  content: "\e617";
}

.iconGroup:before {
  content: "\e61b";
}

.iconicon_xinyong_xianxing_jijin-:before {
  content: "\e636";
}

.icondianzan:before {
  content: "\e60c";
}

.iconyanjing:before {
  content: "\e60d";
}

.icongithub:before {
  content: "\e7ab";
}

.iconqqfuben:before {
  content: "\e629";
}

.iconweixin:before {
  content: "\e66c";
}

.iconchangyongtubiao-fuben-72:before {
  content: "\e612";
}

.icon51:before {
  content: "\e633";
}

.iconleimupinleifenleileibie:before {
  content: "\e7f9";
}

.icondenglu:before {
  content: "\e62e";
}

.iconbiaoqian:before {
  content: "\e601";
}

.iconguidang:before {
  content: "\e67e";
}

.iconsousuo:before {
  content: "\e66b";
}

.iconliuyanban-05:before {
  content: "\e630";
}

